#board {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px;
    justify-content: center;   
}
.square {
    background-color: aquamarine;
    padding: 10px;
    border: solid 1px rgb(2, 4, 49);
    font-size: 50px;
}